body {
  font-family: "Poppins", sans-serif;

  background: #ebd554;
}
h1 {
  color: #010142;
  font-size: 60px;
  font-weight: 300px;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #43ada2;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 100px auto;
  align: center;
}

.weather-app {
  padding: 30px;

  border-radius: 10px;
  box-shadow: 6px 2px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.overview {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.weather-temperature strong {
  color: #f150a3;
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
}
.float-left {
  margin: left 45px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.search-button {
  background-color: #f150a3;
  color: white;
  padding: 7px;
  border-radius: 10px;
  border: solid;
  border-color: #f150a3;
}

.search-button:hover {
  background-color: white;
  color: #f150a3;
  padding: 7px;
  border-radius: 10px;
  border: solid;
  border-color: #f150a3;
  transition-duration: 250ms;
}

.btn-btn {
  background-color: #f150a3;
  color: white;
  padding: 7px;
  border-radius: 10px;
  border: solid;
  border-color: #f150a3;
}

.btn-btn:hover {
  background-color: white;
  color: #f150a3;
  padding: 7px;
  border-radius: 10px;
  border: solid;
  border-color: #f150a3;
  transition-duration: 250ms;
}

.form-control {
  border: solid;
  border-color: #f150a3;
  padding: 7px;
}
small {
  margin: 0, auto;
  align: center;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-title {
  color: #010142;
  font-size: 30px;
  font-weight: 300px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

.weather-forecast-date {
  font-size: 16px;
  color: #010142;
  opacity: 0.6;
}

.weather-forecast-temperature-max {
  color: #f150a3;
}

.weather-forecast-temperature-min {
  color: #f150a3;
  opacity: 0.7;
}

.weather-forecast-temperature {
  font-size: 12px;
}
.col-2 {
  border: solid;
  border-color: #43ada2;
  border-width: thin;
}
